<ion-view>
  <ion-content class="background-blue">
    <div class="center-regionals">
      <button class="positive" style="border-radius: 20%;" ng-click="mexico()">Mexico</button><br/><br/>
      <button class="positive" style="border-radius: 20%;" ng-click="laguna()">Laguna</button><br/><br/>
      <button class="positive" style="border-radius: 20%;" ng-click="ny()">New York</button><br/><br/>
      <button class="positive" style="border-radius: 20%;" ng-click="houston()">Houston</button>
    </div>
  </ion-content>
</ion-view>
