<ion-view>
  <ion-content>
    <div class="centerInput">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Email" ng-model="data.email">
        </label>
        <label class="item item-input item-stacked-label item-nonStacked" style="width: 50%">
          <input type="text" placeholder="Name" ng-model="data.name">
          </label>
        <label class="item item-input item-stacked-label" style="width: 50%;">
          <input type="text" placeholder="Last name" ng-model="data.lastName">
        </label>
        <label class="item item-input item-stacked-label">
          <input type="password" placeholder="Password" ng-model="data.password">
        </label>
        <label class="item item-input item-stacked-label">
          <input type="password" placeholder="Repeat password" ng-model="data.password2">
        </label>
      </div>
      <button class="button button-positive" ng-click="signUp()">Sign Up</button>
    </div>
  </ion-content>
</ion-view>
