<ion-view view-title="Add Team">
  <ion-content>
    <div class="paddingAdd">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Team name" ng-model="data.name"/>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Team number" ng-model="data.number"/>
        </label>
      </div>
      <button class="button button-positive" ng-click="imgPic()">Img</button>
      <button class="button button-positive" ng-click="submitButton()">Submit</button>
    </div>
  </ion-content>
</ion-view>
